scripts/n8n_health_check_workflow.json
{
  "name": "TR GPT Bot Health Check",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "每 5 分鐘執行",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "https://rinnai-py-api-gfamdebjesaqapct.japanwest-01.azurewebsites.net/api/health",
        "authentication": "none",
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-health-check",
      "name": "呼叫 Health Check API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 0],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-body-status",
              "leftValue": "={{ $json.status }}",
              "rightValue": "healthy",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-healthy",
      "name": "是否健康？",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [500, 0]
    },
    {
      "parameters": {
        "fromEmail": "services@rinnai.com.tw",
        "toEmail": "juncheng.liu@rinnai.com.tw",
        "subject": "=TR GPT Bot 服務異常 — {{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
        "emailType": "html",
        "html": "=<html>\n<body style=\"margin:0;padding:0;-webkit-text-size-adjust:100%;\">\n<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#EAEEF3;padding:32px 0;\"><tr><td align=\"center\">\n<table role=\"presentation\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#ffffff;border-radius:16px;overflow:hidden;box-shadow:0 2px 24px rgba(0,0,0,0.08);\">\n\n  <!-- HEADER -->\n  <tr><td style=\"background-color:#1B2A4A;padding:0;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n      <tr><td style=\"padding:36px 40px 32px;\">\n        <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n          <td style=\"width:36px;height:36px;background-color:#DC2626;border-radius:10px;text-align:center;vertical-align:middle;font-size:18px;color:#ffffff;\">&#10007;</td>\n          <td style=\"padding-left:14px;\"><span style=\"font-family:'Segoe UI',Helvetica,Arial,sans-serif;color:#ffffff;font-size:13px;font-weight:600;letter-spacing:3px;text-transform:uppercase;opacity:0.7;\">RINNAI IT</span></td>\n        </tr></table>\n      </td></tr>\n      <tr><td style=\"padding:0 40px 36px;\">\n        <h1 style=\"font-family:'Segoe UI',Helvetica,Arial,sans-serif;color:#ffffff;margin:0;font-size:28px;font-weight:700;line-height:1.2;\">服務異常偵測</h1>\n        <p style=\"font-family:'Segoe UI',Helvetica,Arial,sans-serif;color:rgba(255,255,255,0.65);margin:12px 0 0;font-size:15px;line-height:1.5;\">Health Check 偵測到以下元件異常</p>\n        <div style=\"margin-top:16px;display:inline-block;background-color:#DC2626;border-radius:20px;padding:6px 16px;\"><span style=\"font-family:'Segoe UI',Helvetica,Arial,sans-serif;color:#ffffff;font-size:12px;font-weight:700;letter-spacing:1px;\">ALERT</span></div>\n      </td></tr>\n    </table>\n  </td></tr>\n\n  <!-- BODY: 各項檢查狀態 -->\n  <tr><td style=\"padding:40px 40px 16px;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #E5E7EB;border-radius:12px;overflow:hidden;\">\n      <tr><td style=\"background-color:#F9FAFB;padding:16px 20px;border-bottom:1px solid #E5E7EB;\"><span style=\"font-family:'Segoe UI',Helvetica,Arial,sans-serif;color:#6B7280;font-size:11px;font-weight:700;letter-spacing:2px;text-transform:uppercase;\">各元件檢查結果</span></td></tr>\n      <tr><td style=\"padding:0;\">\n        <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n{{ (() => { const checks = $json.checks || {}; const names = { bot_auth: 'Bot 認證', bot_adapter: 'Bot Adapter', smtp: 'SMTP 郵件', openai: 'OpenAI API', asana: 'Asana 提單', graph_api: 'Graph API', config: '環境設定' }; let rows = ''; for (const [key, val] of Object.entries(checks)) { const label = names[key] || key; const st = val.status || 'unknown'; const msg = val.message || ''; const color = st === 'ok' ? '#10B981' : st === 'warn' ? '#F59E0B' : '#DC2626'; const icon = st === 'ok' ? '&#10003;' : st === 'warn' ? '&#9888;' : '&#10007;'; rows += '<tr><td style=\"padding:14px 20px;border-bottom:1px solid #F3F4F6;width:120px;\"><span style=\"font-family:Segoe UI,Helvetica,Arial,sans-serif;color:#9CA3AF;font-size:13px;\">' + label + '</span></td><td style=\"padding:14px 20px;border-bottom:1px solid #F3F4F6;\"><span style=\"font-family:Segoe UI,Helvetica,Arial,sans-serif;color:' + color + ';font-size:14px;font-weight:700;\">' + icon + ' ' + st.toUpperCase() + '</span><br><span style=\"font-family:Segoe UI,Helvetica,Arial,sans-serif;color:#6B7280;font-size:12px;\">' + msg + '</span></td></tr>'; } if (!rows) { rows = '<tr><td style=\"padding:14px 20px;\" colspan=\"2\"><span style=\"font-family:Segoe UI,Helvetica,Arial,sans-serif;color:#DC2626;font-size:14px;\">API 無回應或連線逾時</span></td></tr>'; } return rows; })() }}\n          <tr>\n            <td style=\"padding:14px 20px;width:120px;\"><span style=\"font-family:'Segoe UI',Helvetica,Arial,sans-serif;color:#9CA3AF;font-size:13px;\">偵測時間</span></td>\n            <td style=\"padding:14px 20px;\"><span style=\"font-family:'Segoe UI',Helvetica,Arial,sans-serif;color:#374151;font-size:14px;\">{{ $now.format('yyyy-MM-dd HH:mm:ss') }}</span></td>\n          </tr>\n        </table>\n      </td></tr>\n    </table>\n  </td></tr>\n\n  <!-- TIP -->\n  <tr><td style=\"padding:16px 40px 40px;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n      <td style=\"background-color:#FEF2F2;border-radius:10px;padding:20px;border:1px solid #FECACA;\">\n        <p style=\"font-family:'Segoe UI',Helvetica,Arial,sans-serif;color:#991B1B;font-size:13px;margin:0;line-height:1.6;\"><strong>建議操作</strong><br>1. 登入 Azure Portal 檢查 App Service 狀態<br>2. 查看 Application Log 是否有 crash 紀錄<br>3. 若為部署問題，考慮 Swap 回穩定 Slot</p>\n      </td>\n    </tr></table>\n  </td></tr>\n\n  <!-- FOOTER -->\n  <tr><td style=\"background-color:#F9FAFB;border-top:1px solid #E5E7EB;padding:24px 40px;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n      <td><p style=\"font-family:'Segoe UI',Helvetica,Arial,sans-serif;color:#9CA3AF;font-size:11px;margin:0;line-height:1.6;\">此為系統自動發送郵件，請勿直接回覆。</p><p style=\"font-family:'Segoe UI',Helvetica,Arial,sans-serif;color:#9CA3AF;font-size:11px;margin:6px 0 0;\">台灣林內 &middot; 資訊課 &middot; TR GPT</p></td>\n      <td align=\"right\" valign=\"top\"><span style=\"font-family:'Segoe UI',Helvetica,Arial,sans-serif;color:#D1D5DB;font-size:10px;letter-spacing:1px;\">RINNAI</span></td>\n    </tr></table>\n  </td></tr>\n\n</table>\n</td></tr></table>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-alert-email",
      "name": "發送異常告警 Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [800, 100],
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "Rinnai SMTP"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "services@rinnai.com.tw",
        "toEmail": "juncheng.liu@rinnai.com.tw",
        "subject": "=TR GPT Bot 運作正常 — {{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
        "emailType": "html",
        "html": "=<html>\n<body style=\"margin:0;padding:0;-webkit-text-size-adjust:100%;\">\n<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#EAEEF3;padding:32px 0;\"><tr><td align=\"center\">\n<table role=\"presentation\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#ffffff;border-radius:16px;overflow:hidden;box-shadow:0 2px 24px rgba(0,0,0,0.08);\">\n\n  <!-- HEADER -->\n  <tr><td style=\"background-color:#1B2A4A;padding:0;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n      <tr><td style=\"padding:36px 40px 32px;\">\n        <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n          <td style=\"width:36px;height:36px;background-color:#10B981;border-radius:10px;text-align:center;vertical-align:middle;font-size:18px;color:#ffffff;\">&#10003;</td>\n          <td style=\"padding-left:14px;\"><span style=\"font-family:'Segoe UI',Helvetica,Arial,sans-serif;color:#ffffff;font-size:13px;font-weight:600;letter-spacing:3px;text-transform:uppercase;opacity:0.7;\">RINNAI IT</span></td>\n        </tr></table>\n      </td></tr>\n      <tr><td style=\"padding:0 40px 36px;\">\n        <h1 style=\"font-family:'Segoe UI',Helvetica,Arial,sans-serif;color:#ffffff;margin:0;font-size:28px;font-weight:700;line-height:1.2;\">服務運作正常</h1>\n        <p style=\"font-family:'Segoe UI',Helvetica,Arial,sans-serif;color:rgba(255,255,255,0.65);margin:12px 0 0;font-size:15px;line-height:1.5;\">所有元件健康檢查通過</p>\n        <div style=\"margin-top:16px;display:inline-block;background-color:#10B981;border-radius:20px;padding:6px 16px;\"><span style=\"font-family:'Segoe UI',Helvetica,Arial,sans-serif;color:#ffffff;font-size:12px;font-weight:700;letter-spacing:1px;\">HEALTHY</span></div>\n      </td></tr>\n    </table>\n  </td></tr>\n\n  <!-- BODY -->\n  <tr><td style=\"padding:40px 40px 16px;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #E5E7EB;border-radius:12px;overflow:hidden;\">\n      <tr><td style=\"background-color:#F9FAFB;padding:16px 20px;border-bottom:1px solid #E5E7EB;\"><span style=\"font-family:'Segoe UI',Helvetica,Arial,sans-serif;color:#6B7280;font-size:11px;font-weight:700;letter-spacing:2px;text-transform:uppercase;\">各元件檢查結果</span></td></tr>\n      <tr><td style=\"padding:0;\">\n        <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n{{ (() => { const checks = $json.checks || {}; const names = { bot_auth: 'Bot 認證', bot_adapter: 'Bot Adapter', smtp: 'SMTP 郵件', openai: 'OpenAI API', asana: 'Asana 提單', graph_api: 'Graph API', config: '環境設定' }; let rows = ''; for (const [key, val] of Object.entries(checks)) { const label = names[key] || key; const st = val.status || 'unknown'; const msg = val.message || ''; const color = st === 'ok' ? '#10B981' : st === 'warn' ? '#F59E0B' : '#DC2626'; const icon = st === 'ok' ? '&#10003;' : st === 'warn' ? '&#9888;' : '&#10007;'; rows += '<tr><td style=\"padding:14px 20px;border-bottom:1px solid #F3F4F6;width:120px;\"><span style=\"font-family:Segoe UI,Helvetica,Arial,sans-serif;color:#9CA3AF;font-size:13px;\">' + label + '</span></td><td style=\"padding:14px 20px;border-bottom:1px solid #F3F4F6;\"><span style=\"font-family:Segoe UI,Helvetica,Arial,sans-serif;color:' + color + ';font-size:14px;font-weight:700;\">' + icon + ' ' + st.toUpperCase() + '</span><br><span style=\"font-family:Segoe UI,Helvetica,Arial,sans-serif;color:#6B7280;font-size:12px;\">' + msg + '</span></td></tr>'; } return rows; })() }}\n          <tr>\n            <td style=\"padding:14px 20px;width:120px;\"><span style=\"font-family:'Segoe UI',Helvetica,Arial,sans-serif;color:#9CA3AF;font-size:13px;\">檢查時間</span></td>\n            <td style=\"padding:14px 20px;\"><span style=\"font-family:'Segoe UI',Helvetica,Arial,sans-serif;color:#374151;font-size:14px;\">{{ $now.format('yyyy-MM-dd HH:mm:ss') }}</span></td>\n          </tr>\n        </table>\n      </td></tr>\n    </table>\n  </td></tr>\n\n  <!-- TIP -->\n  <tr><td style=\"padding:16px 40px 40px;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n      <td style=\"background-color:#F0FDF4;border-radius:10px;padding:20px;border:1px solid #BBF7D0;\">\n        <p style=\"font-family:'Segoe UI',Helvetica,Arial,sans-serif;color:#166534;font-size:13px;margin:0;line-height:1.6;\">所有服務運作正常，Teams Bot 使用者可正常提單與互動。</p>\n      </td>\n    </tr></table>\n  </td></tr>\n\n  <!-- FOOTER -->\n  <tr><td style=\"background-color:#F9FAFB;border-top:1px solid #E5E7EB;padding:24px 40px;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n      <td><p style=\"font-family:'Segoe UI',Helvetica,Arial,sans-serif;color:#9CA3AF;font-size:11px;margin:0;line-height:1.6;\">此為系統自動發送郵件，請勿直接回覆。</p><p style=\"font-family:'Segoe UI',Helvetica,Arial,sans-serif;color:#9CA3AF;font-size:11px;margin:6px 0 0;\">台灣林內 &middot; 資訊課 &middot; TR GPT</p></td>\n      <td align=\"right\" valign=\"top\"><span style=\"font-family:'Segoe UI',Helvetica,Arial,sans-serif;color:#D1D5DB;font-size:10px;letter-spacing:1px;\">RINNAI</span></td>\n    </tr></table>\n  </td></tr>\n\n</table>\n</td></tr></table>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-ok-email",
      "name": "發送正常通知 Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [800, -100],
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "Rinnai SMTP"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-op-success",
      "name": "記錄成功（不寄信）",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [800, -250]
    }
  ],
  "connections": {
    "每 5 分鐘執行": {
      "main": [
        [
          {
            "node": "呼叫 Health Check API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "呼叫 Health Check API": {
      "main": [
        [
          {
            "node": "是否健康？",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "發送異常告警 Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "是否健康？": {
      "main": [
        [
          {
            "node": "記錄成功（不寄信）",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "發送異常告警 Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "monitoring"
    }
  ],
  "pinData": {}
}
